body {
    font-family: sans-serif;
    padding: 0;
    margin: 0
}

h2, h3 {
    color: blue;
}
footer {
    background-color: aqua;
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.gambar-artikel {
    width: 100%;
    max-height: 600px;
    object-position: top;
    object-fit: cover;
}

.gambar-dokum {
    width: 20px;
}

main {
    padding: 20px;
}

.card { 
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.281) ;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.jumbotron {
    background-color: blue;
    padding: 60px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

header {
    display: inline;
}

nav {
    background-color: steelblue;
    padding: 10px;
    position: sticky;
    top: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
}

nav ul li a:hover {
    font-weight: bold;
    font-size: 19px;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    gap: 20px;
}

#content {
    flex-grow: 6;
}

aside {
    flex-grow: 1;
}

